/****************** GENERAL *****************/
html {
  font-size: 100%; }

body {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
  color: #353535; }

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  color: #223591;
  letter-spacing: -.03em; }

ol li::marker, ul li::marker {
  color: #9ea6b4; }

/*** CUSTOM ***/
.container {
  max-width: 1280px; }

.btn {
  box-shadow: 0 4px 16px rgba(55, 71, 79, 0.08), 0 4px 6px rgba(55, 71, 79, 0.16); }

.btn-primary {
  background-color: #223591;
  color: #ffffff; }

.page-header-content .page-header-title {
  padding: 10rem 0 0; }

.page-header-content h2 {
  color: #223591;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 115%; }

section {
  padding: 60px 0;
  border-bottom: 1px solid #f7f7f7; }
  section #about {
    background-color: #f7f7f7; }
  section .section-header {
    max-width: 70%;
    text-align: center;
    margin: 0 auto; }
    section .section-header h3 {
      color: #223591;
      font-style: normal;
      font-weight: bold;
      line-height: 1.5; }
  section h3, section h4 {
    font-style: normal;
    font-weight: 700; }

.login-nav {
  position: absolute;
  top: 100%;
  left: -112px; }

.download-img {
  max-height: 4rem; }

/*** HEADER ***/
.masthead {
  min-height: 70vh;
  background-image: url("../assets/backdrop.jpg");
  background-size: cover;
  font-size: 1.1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%); }

.navbar-brand img {
  max-width: 170px;
  height: auto; }

/****************** QUOTE *******************/
.modal .heading {
  font-weight: normal; }

.modal .desc {
  font-size: 14px; }

.modal #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  padding-left: 0px; }

.modal #progressbar .active {
  color: #223591; }

.modal #progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400; }

.modal #progressbar .step0:before {
  content: ""; }

.modal #progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #E0E0E0;
  border-radius: 50%;
  margin: auto;
  padding: 2px; }

.modal #progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #E0E0E0;
  position: absolute;
  left: 0;
  top: 17px;
  z-index: -1; }

.modal #progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.modal #progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.modal #progressbar li.active:before,
.modal #progressbar li.active:after {
  background: #223591; }

.modal .sub-heading {
  font-weight: 500; }

.modal .yellow-text {
  color: #223591; }

.modal fieldset.show {
  display: block; }

.modal fieldset {
  display: none; }

.modal .radio {
  display: inline-block;
  padding: 1rem;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #BDBDBD;
  font-weight: 500;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); }

.modal .radio:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1); }

.modal .radio.selected {
  box-shadow: 0px 8px 16px 0px #EEEEEE;
  color: #223591 !important;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%); }

.icon {
  width: 85px;
  height: 100px; }

.image-icon {
  width: 85px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 5rem; }

.fit-image {
  width: 100%;
  object-fit: cover; }

.modal-btn-block {
  border-radius: 5px;
  height: 50px;
  font-weight: 500;
  cursor: pointer; }

.fa-long-arrow-right {
  float: right;
  margin-top: 4px; }

.fa-long-arrow-left {
  float: left;
  margin-top: 4px; }

/******************* FOOTER **************/
.bg-dark {
  background-color: #223591 !important; }

footer {
  color: white;
  padding-top: 2rem;
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%); }
  footer a, footer a:hover {
    color: #ffffff; }
  footer h3 {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5; }
  footer .footer-brand img {
    max-width: 150px; }
  footer .container {
    margin-top: 50px; }
  footer .social-links a {
    font-size: 1.6rem;
    color: #ffffff; }

/****************** NAVBAR ******************/
.navbar {
  padding-top: 22px; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem; }

.navbar-home.fixed-top, .page-header.navbar-fixed .navbar-home.navbar {
  max-height: none;
  overflow-y: visible; }

/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both; } }

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; }
  0% {
    transform: translateY(1rem);
    opacity: 0; } }

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1; }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0; } }

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn; }
